@tailwind base;
@tailwind components;
@tailwind utilities;
.slick-slider .slick-prev{
    color: black;
    background-color: rgb(0, 0, 0);
   height: 50px;
   width: 50px;
   border-radius: 50%;
}
.slick-slider .slick-next {
    color: black;
    background-color: rgb(0, 0, 0);
   height: 50px;
   width: 50px;
   border-radius: 50%;
}

@media (max-width:600px) {
    .slick-slider .slick-prev{
        color: black;
        background-color: rgba(0, 0, 0, 0.644);
        margin-left: 30px;
       height: 30px;
       width: 30px;
    }
    .slick-slider .slick-next {
        color: black;
        background-color: rgba(0, 0, 0, 0.644);
        margin-right: 30px;
       height: 30px;
       width: 30px;
    
    }   
    
}